@use "@styles/main.scss" as main;

.search-res-page-container {
  width: 1228px;
  height: 615px;
  .header-wrapper {
    width: 100%;
    font-size: 1.1em;
    color: var(--color-main);

    p {
      display: inline;
    }

    .keyword {
      font-weight: 700;
      color: var(--color-hover);
    }
  }

  .seperate-line {
    margin : {
      top: 10px;
      bottom: 10px;
    }
    width: 80%;
    height: 0;
    border: solid 1px var(--border-color-seperate);
  }
  .video-show-card-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    @include main.scroll();
    margin-top: 20px;
    height: max-content;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    div {
      margin-bottom: 20px;
    }
  }
  .not-found {
    color: #ccc;
    font-size: 1.5em;
  }
}
