:root {
  // color
  --color-main: #ffffff;
  --color-hover: #fa17fa;
  --color-border-theme: hsl(300, 96%, 54%, 70%);
  --color-hot: #f40002;
  --border-color-seperate: #25252b;
  --bg-color-active: #16161a;
  --bg-info: #fff3cd;
  --bg-error: #f8d7da;
  --bg-success: #d1e7dd;
  --font-hot-color: #fb681a;
}
