.nav-bar-container {
  width: 99.6vw;
  height: 60px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    .search {
      transform: translateX(-43px);
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -21px;
    .watch-history-wrapper > div {
      position: absolute;
      top: -3px;
      right: 60px;
      width: 160px;
      height: 60px;
      transform: translateX(-40px);
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      span {
        position: absolute;
        text-align: center;
        color: var(--color-main);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          color: var(--color-hover);
          .icon {
            color: var(--color-hover);
          }
        }
        .iconfont {
          font-size: 1.4em;
          margin-right: 10px;
        }
      }
      .watch-history {
        position: relative;
        top: 56px;
        &::before {
          content: "";
          // 生成一个三角形箭头
          display: inline-block;
          position: absolute;
          top: -5px;
          left: calc(50% - 7px);
          width: 10px;
          height: 10px;
          border: solid 1px green;
          border-color: #25252b transparent transparent #25252b;
          transform: rotate(45deg);
          background-color: #25252b;
        }
      }
    }
    .profile-wrapper {
      height: 60px;
      width: 70px;
      cursor: pointer;
      position: absolute;
      right: 30px;
      top: 6px;
      text-align: center;
      font-size: 1.1em;
      transform: translateX(10px);

      span {
        position: relative;
        top: 5px;
        color: var(--color-hover);
      }
      .profile-card-wrapper {
        position: absolute;
        top: 50px;
        right: 0px;
      }
    }
  }
}
